sentinel-device-isolation/deploy/logic-app/workflow.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "logicAppName": {
            "type": "string",
            "defaultValue": "AutoIsolate-Playbook",
            "metadata": { "description": "The name of your Logic App workflow." }
        },
        "location": {
            "type": "string",
            "defaultValue": "[resourceGroup().location]",
            "metadata": { "description": "The Azure region to deploy into." }
        },
        "subscriptionId": {
            "type": "string",
            "defaultValue": "[subscription().subscriptionId]",
            "metadata": { "description": "Target subscription identifier." }
        },
        "resourceGroupName": {
            "type": "string",
            "defaultValue": "[resourceGroup().name]",
            "metadata": { "description": "Target resource group name." }
        },
        "keyVaultName": {
            "type": "string",
            "defaultValue": "your-keyvault-name",
            "metadata": { "description": "Name of the key vault providing the Service Principal secret." }
        },
        "secretName": {
            "type": "string",
            "defaultValue": "GraphApiSecret",
            "metadata": { "description": "Secret name containing the Client Secret for Microsoft Graph authentication." }
        },
        "graphTenantId": {
            "type": "string",
            "defaultValue": "00000000-0000-0000-0000-000000000000",
            "metadata": { "description": "Tenant ID used for ActiveDirectoryOAuth authentication to Graph." }
        },
        "graphClientId": {
            "type": "string",
            "defaultValue": "00000000-0000-0000-0000-000000000000",
            "metadata": { "description": "App Registration client ID with SecurityAlert.ReadWrite.All permissions." }
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2019-05-01",
            "name": "[parameters('logicAppName')]",
            "location": "[parameters('location')]",
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "triggers": {
                        "Microsoft_Sentinel_incident": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "[concat('/subscriptions/', parameters('subscriptionId'), '/resourceGroups/', parameters('resourceGroupName'), '/providers/Microsoft.Web/connections/azuresentinel')]"
                                    }
                                },
                                "body": {
                                    "callback_url": "@listCallbackUrl()"
                                },
                                "path": "/incident-creation"
                            }
                        }
                    },
                    "actions": {
                        "Closed_Control": {
                            "type": "If",
                            "expression": {
                                "and": [
                                    { "equals": [ "@parameters('CLOSED_CONTROL')", true ] },
                                    { "equals": [ "@triggerBody()?['object']?['properties']?['status']", "Closed" ] }
                                ]
                            },
                            "actions": {
                                "Closed_-_Terminate": {
                                    "type": "Terminate",
                                    "inputs": { "runStatus": "Cancelled" }
                                }
                            },
                            "runAfter": {
                                "For_Each_Alert": [ "Succeeded" ]
                            }
                        },
                        "Prevented_Control": {
                            "type": "If",
                            "expression": {
                                "and": [
                                    { "equals": [ "@parameters('PREVENTED_CONTROL')", true ] },
                                    {
                                        "or": [
                                            { "contains": [ "@triggerBody()?['object']?['properties']?['title']", "was prevented" ] },
                                            { "contains": [ "@triggerBody()?['object']?['properties']?['title']", "was blocked" ] }
                                        ]
                                    }
                                ]
                            },
                            "actions": {
                                "Prevented_-_Terminate": {
                                    "type": "Terminate",
                                    "inputs": { "runStatus": "Cancelled" }
                                }
                            },
                            "runAfter": {
                                "Closed_Control": [ "Succeeded" ]
                            }
                        },
                        "Compose_Incident_URL": {
                            "type": "Compose",
                            "inputs": "<a href=\"https://security.microsoft.com/incidents/@{triggerBody()?['object']?['properties']?['providerIncidentId']}\">@{triggerBody()?['object']?['properties']?['title']}</a>",
                            "runAfter": {
                                "Prevented_Control": [ "Succeeded" ]
                            }
                        },
                        "Compose_Alerts": {
                            "type": "Compose",
                            "inputs": "@variables('ActiveAlerts')",
                            "runAfter": {
                                "Compose_Incident_URL": [ "Succeeded" ]
                            }
                        },
                        "Summary_Agent": {
                            "type": "Agent",
                            "inputs": {
                                "parameters": {
                                    "messages": [
                                        {
                                            "role": "system",
                                            "content": "A device, or multiple devices have just been isolated. \n\nYou have been given the list of devices that were isolated and a list of triggered alerts that caused the isolation of that device. Note, that because this processes has taken place, it means that it was determined that automatic remediation missed or did not \"prevent\" or \"block\" a process. So please summarize from the point of view of before isolation. Don't even mention the isolation that the current process took. You are writing a summary of why you isolated, so the fact that you took action or isolated is irrelevant. No bold or formatting allowed. You need to write a summary of that alert in only 1-2 lines. Do not return any conversational details, only return the 1-2 line summary. Please also include before the 1-2 line summary the name of the device for example:\n\nDEVICENAME.domain.com: XXXX \n\n### Device Names:\n@{union(variables('ActiveEntities'), variables('ActiveEntities'))}\n\n### Alerts:\n@{outputs('Compose_Alerts')}"
                                        }
                                    ],
                                    "agentModelType": "AzureOpenAI",
                                    "agentModelSettings": {
                                        "agentHistoryReductionSettings": {
                                            "agentHistoryReductionType": "maximumTokenCountReduction",
                                            "maximumTokenCount": 128000
                                        }
                                    },
                                    "modelId": "gpt-4o-mini"
                                }
                            },
                            "limit": { "count": 100 },
                            "runAfter": {
                                "Compose_Alerts": [ "Succeeded" ]
                            }
                        },
                        "Initialize_Variables": {
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    { "name": "DeviceName", "type": "string" },
                                    { "name": "IsServer", "type": "boolean", "value": false },
                                    { "name": "TO", "type": "string", "value": "analyst@example.com" },
                                    { "name": "CC", "type": "string", "value": "analyst@example.com" },
                                    { "name": "SUBJECT", "type": "string", "value": "TEST EMAIL" },
                                    { "name": "BODY", "type": "string" },
                                    { "name": "MachineID", "type": "string" },
                                    { "name": "IsAfterHours", "type": "boolean", "value": false },
                                    { "name": "IsIsolated", "type": "boolean", "value": false },
                                    { "name": "OS Platform", "type": "string" },
                                    { "name": "Isolation Confirmed", "type": "boolean", "value": false },
                                    { "name": "AadDeviceID", "type": "string" },
                                    { "name": "ActiveEntities", "type": "array" },
                                    { "name": "ActiveAlerts", "type": "array" }
                                ]
                            },
                            "runAfter": {
                                "Get_incident": [ "Succeeded" ]
                            }
                        },
                        "Get_incident": {
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "[concat('/subscriptions/', parameters('subscriptionId'), '/resourceGroups/', parameters('resourceGroupName'), '/providers/Microsoft.Web/connections/azuresentinel')]"
                                    }
                                },
                                "method": "post",
                                "body": { "incidentArmId": "@triggerBody()?['object']?['id']" },
                                "path": "/Incidents"
                            },
                            "runAfter": {}
                        },
                        "Get_SP_Secret": {
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "[concat('/subscriptions/', parameters('subscriptionId'), '/resourceGroups/', parameters('resourceGroupName'), '/providers/Microsoft.Web/connections/keyvault-1')]"
                                    }
                                },
                                "method": "get",
                                "path": "[concat('/secrets/', encodeURIComponent(parameters('secretName')), '/value')]"
                            },
                            "runtimeConfiguration": {
                                "secureData": { "properties": [ "inputs", "outputs" ] }
                            },
                            "runAfter": {
                                "Initialize_Variables": [ "Succeeded" ]
                            }
                        },
                        "For_Each_Alert": {
                            "type": "Foreach",
                            "foreach": "@triggerBody()?['object']?['properties']?['Alerts']",
                            "actions": {
                                "Get_Alert_Details": {
                                    "type": "Http",
                                    "inputs": {
                                        "uri": "https://graph.microsoft.com/v1.0/security/alerts_v2/da@{items('For_Each_Alert')?['properties']?['providerAlertId']}",
                                        "method": "GET",
                                        "headers": {
                                            "Content-Type": "application/json",
                                            "Prefer": "include-unknown-enum-members"
                                        },
                                        "authentication": {
                                            "type": "ActiveDirectoryOAuth",
                                            "authority": "https://login.microsoftonline.com",
                                            "tenant": "[parameters('graphTenantId')]",
                                            "audience": "https://graph.microsoft.com",
                                            "clientId": "[parameters('graphClientId')]",
                                            "secret": "@{body('Get_SP_Secret')?['value']}"
                                        }
                                    },
                                    "runtimeConfiguration": {
                                        "contentTransfer": { "transferMode": "Chunked" }
                                    }
                                },
                                "Filter_Remediation": {
                                    "type": "Query",
                                    "inputs": {
                                        "from": "@body('Get_Alert_Details')?['evidence']",
                                        "where": "@and(equals(item()?['@odata.type'], '#microsoft.graph.security.fileEvidence'), equals(item()?['remediationStatus'], 'active'))"
                                    },
                                    "runAfter": {
                                        "Get_Alert_Details": [ "Succeeded" ]
                                    }
                                },
                                "Check_Active": {
                                    "type": "If",
                                    "expression": {
                                        "and": [
                                            { "greater": [ "@length(body('Filter_Remediation'))", 0 ] }
                                        ]
                                    },
                                    "actions": {
                                        "Append_to_ActiveEntities": {
                                            "type": "AppendToArrayVariable",
                                            "inputs": {
                                                "name": "ActiveEntities",
                                                "value": {
                                                    "mdeDeviceId": "@{body('Get_Alert_Details')?['evidence']?[0]?['mdeDeviceId']}",
                                                    "azureAdDeviceId": "@{body('Get_Alert_Details')?['evidence']?[0]?['azureAdDeviceId']}",
                                                    "osPlatform": "@{body('Get_Alert_Details')?['evidence']?[0]?['osPlatform']}",
                                                    "deviceDnsName": "@{body('Get_Alert_Details')?['evidence']?[0]?['deviceDnsName']}"
                                                }
                                            }
                                        },
                                        "Append_to_ActiveAlerts": {
                                            "type": "AppendToArrayVariable",
                                            "inputs": {
                                                "name": "ActiveAlerts",
                                                "value": "@first(variables('ActiveEntities'))"
                                            },
                                            "runAfter": {
                                                "Append_to_ActiveEntities": [ "Succeeded" ]
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Filter_Remediation": [ "Succeeded" ]
                                    }
                                }
                            },
                            "runAfter": {
                                "Get_SP_Secret": [ "Succeeded" ]
                            }
                        },
                        "For_Each_Host": {
                            "type": "Foreach",
                            "foreach": "@union(variables('ActiveEntities'), variables('ActiveEntities'))",
                            "actions": {
                                "Set_IsAfterHours": {
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "IsAfterHours",
                                        "value": "@or(less(int(convertFromUtc(utcNow(), 'Central Standard Time', 'HH')), 8), greaterOrEquals(int(convertFromUtc(utcNow(), 'Central Standard Time', 'HH')), 20))"
                                    }
                                },
                                "Set_MachineID": {
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "MachineID",
                                        "value": "@items('For_Each_Host')?['mdeDeviceId']"
                                    },
                                    "runAfter": { "Set_IsAfterHours": [ "Succeeded" ] }
                                },
                                "Set_AadDeviceID": {
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "AadDeviceID",
                                        "value": "@items('For_Each_Host')?['azureAdDeviceId']"
                                    },
                                    "runAfter": { "Set_MachineID": [ "Succeeded" ] }
                                },
                                "Get_Single_Machine": {
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "[concat('/subscriptions/', parameters('subscriptionId'), '/resourceGroups/', parameters('resourceGroupName'), '/providers/Microsoft.Web/connections/wdatp')]"
                                            }
                                        },
                                        "method": "get",
                                        "path": "/api/machines/@{encodeURIComponent(variables('MachineID'))}"
                                    },
                                    "runAfter": { "Set_AadDeviceID": [ "Succeeded" ] }
                                },
                                "Set_DeviceName": {
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "DeviceName",
                                        "value": "@body('Get_Single_Machine')?['computerDnsName']"
                                    },
                                    "runAfter": { "Get_Single_Machine": [ "Succeeded" ] }
                                },
                                "Set_OS_Platform": {
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "OS Platform",
                                        "value": "@body('Get_Single_Machine')?['osPlatform']"
                                    },
                                    "runAfter": { "Set_DeviceName": [ "Succeeded" ] }
                                },
                                "Is_Server": {
                                    "type": "If",
                                    "expression": {
                                        "or": [
                                            { "contains": [ "@variables('OS Platform')", "Server" ] },
                                            { "contains": [ "@variables('OS Platform')", "Linux" ] }
                                        ]
                                    },
                                    "actions": {
                                        "IsServer_True": {
                                            "type": "SetVariable",
                                            "inputs": { "name": "IsServer", "value": true }
                                        }
                                    },
                                    "else": {
                                        "actions": {
                                            "IsServer_False": {
                                                "type": "SetVariable",
                                                "inputs": { "name": "IsServer", "value": false }
                                            }
                                        }
                                    },
                                    "runAfter": { "Set_OS_Platform": [ "Succeeded" ] }
                                },
                                "Isolation_Logic": {
                                    "type": "If",
                                    "expression": {
                                        "or": [
                                            {
                                                "and": [
                                                    { "equals": [ "@parameters('AFTERHOURS_CONTROL')", true ] },
                                                    { "equals": [ "@variables('IsAfterHours')", true ] },
                                                    { "equals": [ "@parameters('ISOLATE_CONTROL')", true ] }
                                                ]
                                            },
                                            {
                                                "and": [
                                                    { "equals": [ "@variables('IsServer')", false ] },
                                                    { "equals": [ "@parameters('ISOLATE_CONTROL')", true ] }
                                                ]
                                            }
                                        ]
                                    },
                                    "actions": {
                                        "Isolate_Machine": {
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "host": {
                                                    "connection": {
                                                        "name": "[concat('/subscriptions/', parameters('subscriptionId'), '/resourceGroups/', parameters('resourceGroupName'), '/providers/Microsoft.Web/connections/wdatp')]"
                                                    }
                                                },
                                                "method": "post",
                                                "body": {
                                                    "Comment": "Isolated @{variables('DeviceName')} [@{variables('MachineID')}] due to @{triggerBody()?['object']?['properties']?['title']} [@{triggerBody()?['object']?['properties']?['additionalData']?['mergedIncidentNumber']}]",
                                                    "IsolationType": "Full"
                                                },
                                                "path": "/api/machines/@{encodeURIComponent(variables('MachineID'))}/isolate"
                                            }
                                        },
                                        "IsIsolated_True": {
                                            "type": "SetVariable",
                                            "inputs": { "name": "IsIsolated", "value": true },
                                            "runAfter": { "Isolate_Machine": [ "Succeeded" ] }
                                        },
                                        "Update_incident": {
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "host": {
                                                    "connection": {
                                                        "name": "[concat('/subscriptions/', parameters('subscriptionId'), '/resourceGroups/', parameters('resourceGroupName'), '/providers/Microsoft.Web/connections/azuresentinel')]"
                                                    }
                                                },
                                                "method": "put",
                                                "body": {
                                                    "incidentArmId": "@body('Get_incident')?['id']",
                                                    "tagsToAdd": { "TagsToAdd": [ { "Tag": "AUTOCONTAIN" } ] }
                                                },
                                                "path": "/Incidents"
                                            },
                                            "runAfter": { "IsIsolated_True": [ "Succeeded" ] }
                                        }
                                    },
                                    "else": {
                                        "actions": {
                                            "Set_MachineID_to_TestBox": {
                                                "type": "SetVariable",
                                                "inputs": { "name": "MachineID", "value": "0000000000000000000000000000000000000000" }
                                            },
                                            "IsIsolated_False": {
                                                "type": "SetVariable",
                                                "inputs": { "name": "IsIsolated", "value": false },
                                                "runAfter": { "Set_MachineID_to_TestBox": [ "Succeeded" ] }
                                            }
                                        }
                                    },
                                    "runAfter": { "Is_Server": [ "Succeeded" ] }
                                },
                                "Until": {
                                    "type": "Until",
                                    "expression": "@equals(variables('Isolation Confirmed'), true)",
                                    "limit": { "count": 15, "timeout": "PT1H" },
                                    "actions": {
                                        "5s_delay": { "type": "Wait", "inputs": { "interval": { "count": 5, "unit": "Second" } } },
                                        "Get_All_Actions": {
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "host": {
                                                    "connection": {
                                                        "name": "[concat('/subscriptions/', parameters('subscriptionId'), '/resourceGroups/', parameters('resourceGroupName'), '/providers/Microsoft.Web/connections/wdatp')]"
                                                    }
                                                },
                                                "method": "get",
                                                "path": "/api/machineactions"
                                            },
                                            "runAfter": { "5s_delay": [ "Succeeded" ] }
                                        },
                                        "Filter_Isolate_Machine_Actions": {
                                            "type": "Query",
                                            "inputs": {
                                                "from": "@body('Get_All_Actions')?['value']",
                                                "where": "@and(equals(item()?['machineId'], variables('MachineID')), equals(item()?['type'], 'Isolate'))"
                                            },
                                            "runAfter": { "Get_All_Actions": [ "Succeeded" ] }
                                        },
                                        "Compose_Latest_Action": {
                                            "type": "Compose",
                                            "inputs": "@first(body('Filter_Isolate_Machine_Actions'))",
                                            "runAfter": { "Filter_Isolate_Machine_Actions": [ "Succeeded" ] }
                                        },
                                        "Confirm_Isolation": {
                                            "type": "If",
                                            "expression": {
                                                "and": [
                                                    { "equals": [ "@outputs('Compose_Latest_Action')?['status']\r\n", "Succeeded" ] }
                                                ]
                                            },
                                            "actions": {
                                                "Isolation_Confirmed": {
                                                    "type": "SetVariable",
                                                    "inputs": { "name": "Isolation Confirmed", "value": true }
                                                }
                                            },
                                            "else": {
                                                "actions": {
                                                    "Isolation_Not_Confirmed": {
                                                        "type": "SetVariable",
                                                        "inputs": { "name": "Isolation Confirmed", "value": false }
                                                    },
                                                    "60s_Delay": {
                                                        "type": "Wait",
                                                        "inputs": { "interval": { "count": 60, "unit": "Second" } },
                                                        "runAfter": { "Isolation_Not_Confirmed": [ "Succeeded" ] }
                                                    }
                                                }
                                            },
                                            "runAfter": { "Compose_Latest_Action": [ "Succeeded" ] }
                                        }
                                    },
                                    "runAfter": { "Isolation_Logic": [ "Succeeded" ] }
                                },
                                "[1]_Isolation_Not_Enabled": {
                                    "type": "If",
                                    "expression": {
                                        "or": [
                                            { "equals": [ "@parameters('SIMULATE_EMAIL')", 1 ] },
                                            {
                                                "and": [
                                                    { "equals": [ "@parameters('ISOLATE_CONTROL')", false ] },
                                                    { "equals": [ "@parameters('SIMULATE_EMAIL')", 0 ] }
                                                ]
                                            }
                                        ]
                                    },
                                    "actions": {
                                        "SUBJECT_[Not_Enabled]": { "type": "SetVariable", "inputs": { "name": "SUBJECT", "value": "Isolation Not Enabled" } },
                                        "BODY_[Not_Enabled]": {
                                            "type": "SetVariable",
                                            "inputs": { "name": "BODY", "value": "This is a message from Security-Auto-Isolation. <b>Isolation is currently disabled, the test machine has been isolated as a test.</b> <i>fix that in the Logic App Parameters.</i> Thank you." },
                                            "runAfter": { "SUBJECT_[Not_Enabled]": [ "Succeeded" ] }
                                        },
                                        "TO_analyst_[2]": {
                                            "type": "SetVariable",
                                            "inputs": { "name": "TO", "value": "analyst@example.com" },
                                            "runAfter": { "BODY_[Not_Enabled]": [ "Succeeded" ] }
                                        },
                                        "CC_analyst_[2]": {
                                            "type": "SetVariable",
                                            "inputs": { "name": "CC", "value": "analyst@example.com" },
                                            "runAfter": { "TO_analyst_[2]": [ "Succeeded" ] }
                                        }
                                    },
                                    "else": {
                                        "actions": {
                                            "[2]_Server_at_Risk": {
                                                "type": "If",
                                                "expression": {
                                                    "or": [
                                                        {
                                                            "and": [
                                                                { "equals": [ "@variables('IsServer')", true ] },
                                                                { "equals": [ "@variables('IsIsolated')", true ] }
                                                            ]
                                                        },
                                                        { "equals": [ "@parameters('SIMULATE_EMAIL')", 3 ] }
                                                    ]
                                                },
                                                "actions": {
                                                    "SUBJECT_[Risk]": { "type": "SetVariable", "inputs": { "name": "SUBJECT", "value": "Server at Risk" } },
                                                    "BODY_[Risk]": {
                                                        "type": "SetVariable",
                                                        "inputs": { "name": "BODY", "value": "Microsoft Security Controls have determined the following Server is at-risk or already compromised.\n \n<p style=\"color: #d0021b;\"><b>Analyst Actions Needed:</b><br>\nReview the referenced Incident / Alert<br>\nComplete remediation<br>\nNotify relevant SOC Group (if needed)<br>\nUpdate/Close Incident in Defender</p>" },
                                                        "runAfter": { "SUBJECT_[Risk]": [ "Succeeded" ] }
                                                    },
                                                    "TO_[Risk]": {
                                                        "type": "SetVariable",
                                                        "inputs": { "name": "TO", "value": "soc@example.com" },
                                                        "runAfter": { "BODY_[Risk]": [ "Succeeded" ] }
                                                    },
                                                    "CC_[Risk]": {
                                                        "type": "SetVariable",
                                                        "inputs": { "name": "CC", "value": "analyst@example.com,manager@example.com" },
                                                        "runAfter": { "TO_[Risk]": [ "Succeeded" ] }
                                                    }
                                                },
                                                "else": {
                                                    "actions": {
                                                        "[3]_Server_Has_Been_Disabled": {
                                                            "type": "If",
                                                            "expression": {
                                                                "or": [
                                                                    {
                                                                        "and": [
                                                                            { "equals": [ "@variables('IsIsolated')", false ] },
                                                                            { "equals": [ "@variables('IsServer')", true ] }
                                                                        ]
                                                                    },
                                                                    { "equals": [ "@parameters('SIMULATE_EMAIL')", 2 ] }
                                                                ]
                                                            },
                                                            "actions": {
                                                                "SUBJECT_[Server]": { "type": "SetVariable", "inputs": { "name": "SUBJECT", "value": "Server Has Been Isolated by Security AutoContain" } },
                                                                "BODY_[Server]": {
                                                                    "type": "SetVariable",
                                                                    "inputs": { "name": "BODY", "value": "<b>SERVER ISOLATED</b><br
