sentinel-user-disruption/workflow.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "logicAppName": {
            "type": "String",
            "defaultValue": "AutoIsolate-Playbook",
            "metadata": {
                "description": "The name of the Logic App / Playbook resource."
            }
        },
        "location": {
            "type": "String",
            "defaultValue": "[resourceGroup().location]",
            "metadata": {
                "description": "The Azure region where the playbook will be deployed."
            }
        },
        "itsmEmailRecipient": {
            "type": "String",
            "defaultValue": "itsupport@contoso.com",
            "metadata": {
                "description": "Production destination for creating automated ITSM support tickets."
            }
        },
        "socEmailRecipient": {
            "type": "String",
            "defaultValue": "soc@contoso.com",
            "metadata": {
                "description": "Main email destination for standard SOC alerts."
            }
        },
        "executiveEmailRecipients": {
            "type": "String",
            "defaultValue": "soc@contoso.com,soc-manager@contoso.com,ciso@contoso.com",
            "metadata": {
                "description": "Comma-separated list of recipients notified when a VIP account is targeted."
            }
        }
    },
    "variables": {
        "connections": {
            "azuresentinel": {
                "connectionId": "[resourceId('Microsoft.Web/connections', 'azuresentinel')]"
            },
            "azuresentinel-1": {
                "connectionId": "[resourceId('Microsoft.Web/connections', 'azuresentinel')]"
            },
            "office365-2": {
                "connectionId": "[resourceId('Microsoft.Web/connections', 'office365')]"
            },
            "keyvault": {
                "connectionId": "[resourceId('Microsoft.Web/connections', 'keyvault')]"
            }
        }
    },
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2019-05-01",
            "name": "[parameters('logicAppName')]",
            "location": "[parameters('location')]",
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "parameters": {
                    "$connections": {
                        "value": "[variables('connections')]"
                    },
                    "DisableInProduction": {
                        "value": true
                    },
                    "SendProductionEmail": {
                        "value": true
                    },
                    "DISABLE": {
                        "value": "Active"
                    }
                },
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "type": "Object"
                        },
                        "DisableInProduction": {
                            "type": "Bool"
                        },
                        "SendProductionEmail": {
                            "type": "Bool"
                        },
                        "DISABLE": {
                            "type": "String"
                        }
                    },
                    "triggers": {
                        "Microsoft_Sentinel_incident": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "path": "/incident-creation"
                            },
                            "conditions": []
                        }
                    },
                    "actions": {
                        "Successful_Completion": {
                            "runAfter": {
                                "For_Each_Account": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Terminate",
                            "inputs": {
                                "runStatus": "Succeeded"
                            }
                        },
                        "For_Each_Account": {
                            "foreach": "@variables('Matches')",
                            "actions": {
                                "Get_User": {
                                    "type": "Http",
                                    "inputs": {
                                        "uri": "https://graph.microsoft.com/v1.0/users/@{items('For_Each_Account')['Account']}",
                                        "method": "GET",
                                        "authentication": {
                                            "type": "ManagedServiceIdentity",
                                            "audience": "https://graph.microsoft.com"
                                        }
                                    },
                                    "runtimeConfiguration": {
                                        "contentTransfer": {
                                            "transferMode": "Chunked"
                                        }
                                    }
                                },
                                "Get_On-Premises": {
                                    "runAfter": {
                                        "Parse_User": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Http",
                                    "inputs": {
                                        "uri": "https://graph.microsoft.com/v1.0/users/@{items('For_Each_Account')['Account']}?$select=onPremisesExtensionAttributes,onPremisesSamAccountName,onPremisesDomainName,onPremisesUserPrincipalName",
                                        "method": "GET",
                                        "authentication": {
                                            "type": "ManagedServiceIdentity",
                                            "audience": "https://graph.microsoft.com"
                                        }
                                    },
                                    "runtimeConfiguration": {
                                        "contentTransfer": {
                                            "transferMode": "Chunked"
                                        }
                                    }
                                },
                                "Parse_User": {
                                    "runAfter": {
                                        "Get_User": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@body('Get_User')",
                                        "schema": {
                                            "type": "object",
                                            "properties": {
                                                "businessPhones": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "displayName": {
                                                    "type": "string"
                                                },
                                                "givenName": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "jobTitle": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "mail": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "mobilePhone": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "officeLocation": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "preferredLanguage": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "surname": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "userPrincipalName": {
                                                    "type": "string"
                                                },
                                                "id": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                },
                                "Parse_On-Prem": {
                                    "runAfter": {
                                        "Get_On-Premises": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@body('Get_On-Premises')",
                                        "schema": {
                                            "type": "object",
                                            "properties": {
                                                "onPremisesSamAccountName": {
                                                    "type": "string"
                                                },
                                                "onPremisesUserPrincipalName": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                },
                                "VIP_Check": {
                                    "actions": {
                                        "Current_time": {
                                            "runAfter": {
                                                "Check_Disable_Permit": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Expression",
                                            "kind": "CurrentTime",
                                            "inputs": {}
                                        },
                                        "Check_Disable_Permit": {
                                            "actions": {
                                                "(ACTIVE)_Identity_Disable": {
                                                    "type": "Http",
                                                    "inputs": {
                                                        "uri": "https://api.contoso.com/identity/user/@{body('Parse_On-Prem')?['onPremisesSamAccountName']}/Account",
                                                        "method": "PATCH",
                                                        "headers": {
                                                            "accept": "application/json",
                                                            "X-TOKEN": "@{body('Get_X-TOKEN')?['value']}",
                                                            "Content-Type": "application/json"
                                                        },
                                                        "body": {
                                                            "action": "DisableReset"
                                                        }
                                                    },
                                                    "runtimeConfiguration": {
                                                        "contentTransfer": {
                                                            "transferMode": "Chunked"
